<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="plat">
      <h2 data-cy="platDetailsHeading"><span jhiTranslate="jeeProjectGatApp.jeeProjectApi1Plat.detail.title">Plat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plat.id }}</span>
        </dd>
        <dt><span jhiTranslate="jeeProjectGatApp.jeeProjectApi1Plat.libelle">Libelle</span></dt>
        <dd>
          <span>{{ plat.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="jeeProjectGatApp.jeeProjectApi1Plat.prixUnitaire">Prix Unitaire</span></dt>
        <dd>
          <span>{{ plat.prixUnitaire }}</span>
        </dd>
        <dt><span jhiTranslate="jeeProjectGatApp.jeeProjectApi1Plat.quantite">Quantite</span></dt>
        <dd>
          <span>{{ plat.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="jeeProjectGatApp.jeeProjectApi1Plat.boisson">Boisson</span></dt>
        <dd>
          <span *ngFor="let boisson of plat.boissons; let last = last">
            <a [routerLink]="['/boisson', boisson?.id, 'view']">{{ boisson.libelle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plat', plat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
